<h3 class="title" style="font-weight: bold;color: #000000; text-transform: none;">
    We received a request to sign you in via magic link.
</h3>
<p>If you made this request, click the button below to sign in to your account:</p>
<a href="<%= magicToken %>">Sign In</a>
<p>If you didn't request this, simply ignore this email. Your account is safe.</p>